<div class="container">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <!--
            <div class="form-group">
                <label for="search"></label>
                <input type="text" class="form-control" placeholder="Enter you search"
                [ngModel]="search" (ngModelChange)="search($event)"> 
            </div>

            <ul class="list-group">
                <li class="list-group-item cursor-pointer" *ngFor="let c of dailydrinks | async" (click)="verDetalhe(c)">{{c.nome}}</li>
              </ul>
              -->
        </div>
    </div>

</div>